<?xml version="1.0" encoding="UTF-8"?>

<web-app>
	
	<servlet>
		<servlet-name>ProductListServlet</servlet-name>
		<servlet-class>ProductListServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProductListServlet</servlet-name>
		<url-pattern>/listProduct</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>AddIntoCartServlet</servlet-name>
		<servlet-class>AddIntoCartServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddIntoCartServlet</servlet-name>
		<url-pattern>/addintocart</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PushOrderServlet</servlet-name>
		<servlet-class>PushOrderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PushOrderServlet</servlet-name>
		<url-pattern>/pushorder</url-pattern>
	</servlet-mapping>
	
	
	
	<servlet>
		<servlet-name>DelOrderItemServlet</servlet-name>
		<servlet-class>DelOrderItemServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DelOrderItemServlet</servlet-name>
		<url-pattern>/delOrderItem</url-pattern>
	</servlet-mapping>
</web-app>